<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Life</title>
    <link href="@Url.Content("~/Content/newsfeed.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @RenderSection("Style", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-top: 0;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0;">
        <a class="navbar-brand" href="../Home/Index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                @if (User.IsInRole("Admin"))
                {

                    <li class="nav-item dropdown" style="margin-right: 30px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                            <span>@Html.ActionLink("All users", "/", "Admin", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Students", "/", "Students", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Teachers", "/", "Teachers", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Add new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</span>
                    </div>
                    </li>

                    <li class="nav-item dropdown"  style="margin-right: 30px;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Departments and groups
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <span>@Html.ActionLink("Departments", "/", "Departments", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Groups", "/", "Groups", null, new { @class = "dropdown-item" })</span>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Academic administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <span>@Html.ActionLink("Courses", "/", "Courses", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Assign courses to departments", "/", "CourseDepartments", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Assign teachers to courses", "/", "TeacherCourses", null, new { @class = "dropdown-item" })</span>
                            <span>@Html.ActionLink("Assign courses to groups", "/", "TeacherCoursesGroups", null, new { @class = "dropdown-item" })</span>
                        </div>
                    </li>
                }
                @if (User.IsInRole("Teacher"))
                {
                    <li style="margin-right: 30px;">@Html.ActionLink("Anouncements", "/", "Posts", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contacts", "/", "Contacts", null, new { @class = "nav-link" })</li>
                }
                @if (User.IsInRole("Student"))
                {
                    <li style="margin-right: 30px;">@Html.ActionLink("Anouncements", "/", "Posts", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contacts", "/", "Contacts", null, new { @class = "nav-link" })</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Student Life</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
